<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('커뮤니티 게시판')">
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link href="starter-template.css" rel="stylesheet"> -->

</head>

<!-- <script th:inline="javascript">
    var ob = [
        [$ {
            boards
        }]
    ];
    console.log(ob);
</script> -->

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">

    </nav>

    <div class="container col-md-11">
        <h1>게시판</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">no</th>
                    <th scope="col" class="col-8">제목</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회수</th>
                    <th scope="col">좋아요</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.seq}">1</td>
                    <td>
<!--                         <a th:text="${board.title}" th:href="@{/boards/detail/{seq}(seq = ${board.seq})}"></a> -->
                        <a th:text="${board.title}" th:href="@{/boards/detail/__${board.seq}__}"></a>
                    </td>
                    <!--                     <td th:text="${board.nickname}">1</td> -->
                    <td>1</td>
                    <!--                     <td th:if="${#dates.create(year,month,day)} == ${#dates.format(board.createDate, 'yyyy-MM-dd')}" th:text="${board.createDate}">1</td> -->
                    <!-- 					<td th:text="${#temporals.format(#temporals.createNow(), 'yyyy MM dd')}">1</td> -->
                    <!-- 					<td th:text="${#temporals.format(board.createDate, 'yyyy MM dd')}">1</td> -->
                    <td th:if="${#temporals.format(#temporals.createNow(), 'yyyy MM dd')} == ${#temporals.format(board.createDate, 'yyyy MM dd')}" th:text="${#temporals.format(board.createDate, 'HH:mm')}">1</td>
                    <td th:unless="${#temporals.format(#temporals.createNow(), 'yyyy MM dd')} == ${#temporals.format(board.createDate, 'yyyy MM dd')}" th:text="${#temporals.format(board.createDate, 'MM-dd')}">1</td>
                    <td th:text="${board.viewCount}">1</td>
                    <td th:text="${board.likeCount}">1</td>
                </tr>
            </tbody>
        </table>

        <div class="text-right">
            <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/boards/write}'|">글쓰기</button>
        </div>
    </div>


    <div th:replace="fragments/common :: footer">

    </div>

    <script th:inline="javascript">
        var name = /*[[${boards}]]*/
            console.log(JSON.stringify(name))
    </script>
</body>


</html>