<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판 글쓰기')">

</head>

<head>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')"></nav>

    <div class="container col-md-11">
        <h1 th:if="${boardDTO}">글쓰기</h1>
        <h1 th:unless="${boardDTO}">글쓰기</h1>
        <br>
        <form action="#" th:action="@{/boards/write}" th:object="${boardDTO}" method="post">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" placeholder="title">
                <label for="title">title</label>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    error
                </div>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">내용</label>
                <textarea class="form-control" id="summernote" th:classappend="${#fields.hasErrors('body')} ? 'is-invalid'" rows="10" th:field="*{body}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">
                    error
                </div>
            </div>
            <!--             <input type="hidden" class="form-control" id="nickname" th:field="*{board.user.nickname}" th:value="test"> -->

            <div class="text-end">
                <button type="submit" class="btn btn-outline-primary">쓰기</button>
                <button type="button" class="btn btn-outline-primary">수정</button>
                <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/boards}'|">취소</button>
            </div>
        </form>

    </div>

    <div th:replace="fragments/common :: footer"></div>
</body>

<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300, // 에디터 높이
            minHeight: null, // 최소 높이
            maxHeight: null, // 최대 높이
            focus: true, // 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR", // 한글 설정
            placeholder: '내용' //placeholder 설정

        });
    });
</script>

</html>